<!--<div *ngIf="let p of products">-->
  <table class="table shop-table" *ngIf="products.length >0">
    <tr>
      <th class="b-0">Name</th>
      <th class="b-0">Price</th>
      <th class="b-0">Quantity</th>
      <th class="b-0 text-right">Total Price</th>
    </tr>
    <tr *ngFor="let item of products">
      <td>{{ item.prdName }}</td>
      <td>{{ item.prdPrice }}</td>
      <td>
        <button class="btn btn-primary btn-sm" >+</button>
        <button class="btn btn-primary btn-sm">-</button>
      </td>
      <td class="text-right">
      </td>
    </tr>
    <tr>
      <td colspan="4" align="right">
        <button class="btn btn-danger" >Empty Cart</button>
      </td>
    </tr>
  </table>
<!--</div>-->
