<div class="container">
  <mat-card class="example-card col-sm-12" *ngFor="let p of products; let i = index" (click)="onProductClicked(p.prdId)">
    <div class="grid-item">
      <img class="img-card" [src]="p.prdImgUrl"/>
      <div class="prd-title">
        <mat-card-title>{{p.prdName}}</mat-card-title>
        <span class="sku">SKU :{{p.prdCode}}</span>
        <mat-card-title style="font-weight: 500;margin-top: 50px">Price: ${{ p.prdPrice }}</mat-card-title>
        <mat-card-actions align="end">
          <button mat-button class="add-cart" (click)="onAddToCartClicked(p.prdId)">Add to Cart</button>
          <button mat-button style="background-color: #0046be;color: white" (click)="onProductClicked(p.prdId)">View More Details</button>
        </mat-card-actions>
      </div>
    </div>
  </mat-card>
  <mat-divider></mat-divider>
</div>
