
<mat-toolbar color="primary">
  <button mat-button routerLink="/home">
      <mat-icon>store</mat-icon>Electronics Store
  </button>
  <span class="fill-spacer"></span>
  <mat-menu #menu="matMenu">
    <button mat-menu-item routerLink="/login">
      Sign In
    </button>
    <button mat-menu-item routerLink="/register">
      Sign Up
    </button>
  </mat-menu>

  <mat-menu #anotherMenu="matMenu">
    <button mat-menu-item (click)="myAccount()">My Account</button>
    <button mat-menu-item (click)="logout()">Logout</button>
  </mat-menu>
  <span *ngIf="isLoggedIn">Welcome {{firstName}} {{lastName}}</span>
  <button mat-icon-button [matMenuTriggerFor]="isLoggedIn ? anotherMenu : menu " aria-label="Account">
    <mat-icon>account_circle</mat-icon>
  </button>
  <button mat-icon-button class="last-item">
    <mat-icon>shopping_cart</mat-icon>
    Cart {{count}}
  </button>
</mat-toolbar>

