<div class="toolbar" role="banner">
  <div class="heaer-title">
    <a mat-button [routerLink]="['/']" routerLinkActive="active">
      <mat-icon>store</mat-icon>Electronics Store
    </a>
  </div>
  <div class="left-header">
    <div *ngIf="!firstName" class="text-center">
      <button mat-button>Account</button>
      <!-- You are not Authenticated!! Please <a routerLink="/login">Login</a> -->
    </div>
    <div *ngIf="firstName" class="text-center">
      <!-- Hi, {{firstName}}
       <button mat-button>Hi, {{firstName}}</button>
      <button mat-button>My Account</button> -->
    </div>
    <div class="cart-icon">
        <a mat-button mat-icon-button  [routerLink]="['/cart']" routerLinkActive="active">
        <mat-icon>shopping_cart</mat-icon>Cart
        </a>
    </div>
  </div>
  <!-- <div class="header-actions">
        <a mat-button [routerLink]="['/register']" routerLinkActive="active">Create Account</a>
        <a mat-button  [routerLink]="['/login']" routerLinkActive="active">Sign In</a>
        <a mat-button mat-icon-button  [routerLink]="['/cart']" routerLinkActive="active">
        <mat-icon>shopping_cart</mat-icon>Cart
        </a>
    </div> -->
</div>
<div>



</div>
