.example-card {
  max-width: 400px;
  width: 400px;
  height: 400px;
  margin: 1.25rem;
  background: #d1d1db;
  padding: 10px;
  color: black;
}
.container {
  display: grid;
  margin-top: 5%;
  grid-template-columns: 1fr 1fr 1fr;
}
mat-card {
  cursor: pointer;
}

img {
  height: 400px;
  width: 400px;
}
